.servizi-card {
  width: 150px; /* Larghezza della card */
  height: 150px; /* Altezza della card (quadrata) */
  border: none;
  border-radius: 5px; /* Angoli arrotondati */
  background-color: #f9f9f9; /* Colore di sfondo */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombra */
}
.servizi-card:hover {
  transition: all .9s all; /* Transizione fluida */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); /* Ombra al passaggio del mouse */
  transform: translateY(-5px); /* Sollevamento al passaggio del mouse */
}

.servizi-card svg {
  color: #ceb399; /* Colore dell'icona */
}

.servizi-card p {
  font-size: 0.9rem; /* Dimensione del testo */
  color: #272727; /* Colore del testo */
}
